<div class="footer">
  <hr/>
  <div class="footer-links">
    <a href="https://mochimito@outlook.com" title="Mail me">
      <img src="//cdn.bootcdn.net/ajax/libs/octicons/8.5.0/svg/mail.svg">
    </a>
    <a href="https://github.com/" title="Github">
      <img src="//cdn.bootcdn.net/ajax/libs/octicons/8.5.0/svg/mark-github.svg">
    </a>
    <a href="{{ site.baseurl }}/feed.xml" title="RSS Feed">
      <img src="//cdn.bootcdn.net/ajax/libs/octicons/8.5.0/svg/rss.svg">
    </a>
  </div>
  <div>
    Copyright ♥ {{ site.copyright.year }} {{ site.copyright.name }}. All rights reserved.
  </div>
</div>
