<div class="footer">
  <hr/>
  <div class="footer-links">
    <a href="https://space.bilibili.com/297871562" title="Bilibili">
      <img src="//gitee.com/aaajkcn/NViconsLib_Silhouette/raw/master/svg/CN_bilibili.svg">
    </a>
    <a href="https://github.com/" title="Github">
      <img src="//cdn.bootcss.com/octicons/8.4.2/svg/mark-github.svg">
    </a>
    <a href="{{ site.baseurl }}/feed.xml" title="RSS">
      <img src="//cdn.bootcss.com/octicons/8.4.2/svg/rss.svg">
      <!-- Feed Valadator:http://www.feedvalidator.org/ -->
    </a>
  </div>
  <div>
    Copyright © {{ site.copyright.year }} {{ site.copyright.name }}. All rights reserved.
  </div>
</div>
