<div class="toptb" >
    <a class="cssmenu" onmouseover=$(".csstoggle").fadeIn(200); onmouseout=$(".csstoggle").fadeOut(50);></a>
    <a class="tomain" href="/">
        <img src="{{ site.baseurl }}/assets/img/mainbtn.png" alt>
    </a>
</div>
<div class="csstoggle" style="display: none" onmouseover=$(".csstoggle").fadeIn(50); onmouseout=$(".csstoggle").fadeOut(200);>
    <div class="csstoggle-btn1" onclick="btn1();" title="点击切换到样式1"></div>
    <div class="csstoggle-btn2" onclick="btn2();" title="点击切换到样式2"></div>
</div>
<div class="to-top"></div>
