<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">
<link rel="shortcut icon" href="//i.loli.net/2020/02/14/tBHiqE4Cgr7sopP.png">
<link rel="stylesheet" href="/assets/css/main-1.css" id="style">
<link rel="stylesheet" id="window">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
<link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }}" href="{{ site.baseurl }}/feed.xml" />
<!-- Feed Valadator:http://www.feedvalidator.org/ -->
</head>