<div class="content list">
    {% if site.posts.size == 0 %}
      <h2>没有发现文章，什么情况Σ(ﾟдﾟ;)</h2>
      <h2>やれやれだぜ！（￣へ￣＃）</h2>
    {% else %}
    {% for post in paginator.posts %}
    <div class="list-item">
        <h2 class="list-post-title">
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </h2>
        <div class="list-post-date">
            <time>{{ post.date | date: "%Y-%m-%d" }}</time>
            {% if post.editdate %}
            <span> | Latest Update: {{ post.editdate | date: "%Y-%m-%d" }}</span>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
<div class="list-pagination">
    <span class="list-pagination-previous">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">
        &#60; previous
        </a>
    {% endif %}
    </span>
    <span class="list-pagination-pagenum">
        {{ paginator.page }} | {{ paginator.total_pages }}
    </span>
    <span class="list-pagination-next">
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">
        next &#62;
        </a>
    {% endif %}
    </span>
</div>
