<!--Icons are from 'Github octicons' and 'FontAwesome'-->

{% if site.social_icons.enable %}
<div class="footer-links">
    {% if site.social_icons.Mail.enable %}
    <a href="mailto:{{ site.social_icons.Mail.link }}" title="Mail me">
        <img src="//cdn.bootcdn.net/ajax/libs/octicons/8.5.0/svg/mail.svg">
    </a>
    {% endif %}

    {% if site.social_icons.Github.enable %}
    <a href="{{ site.social_icons.Github.link }}" title="My Github Profile">
        <img src="//cdn.bootcdn.net/ajax/libs/octicons/8.5.0/svg/mark-github.svg">
    </a>
    {% endif %}

    {% if site.social_icons.Twitter.enable %}
    <a class="fa fa-twitter" href="{{ site.social_icons.Twitter.link }}" title="My Twitter"></a>
    {% endif %}

    {% if site.social_icons.Weibo.enable %}
    <a class="fa fa-weibo" href="{{ site.social_icons.Weibo.link }}" title="My Weibo"></a>
    {% endif %}

    {% if site.rssfeed %}
    <a href="{{ site.baseurl }}/feed.xml" title="RSS Feed">
        <img src="//cdn.bootcdn.net/ajax/libs/octicons/8.5.0/svg/rss.svg">
    </a>
    {% endif %}
</div>
{% endif %}