---
---

body {
  background-color: #f7f7f7;
}

.container {
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 0;
}

.list {
  &-post-date {
    margin-bottom: 15px;
  }

  &-item {
    border-bottom: 1px dashed #ccc;
    margin-top: 15px;
  }
}
