---
---

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
  
html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
	line-height: 1.6;
	
  @media (min-width: 38em) {
    font-size: 20px;
  }
}

body {
  color: #404040;
  background: #f7f7f7 center cover no-repeat fixed;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
}

::selection {
  background: #262a30;
  color: white;
}

a {
  color: #555;
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 600;
  line-height: 1.1;
  color: #393939;
  letter-spacing: -.025rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
}

h4, h5, h6 {
  font-size: 1rem;
}

p {
  margin: 0 0 1rem;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

ul {
  list-style: circle;
	padding-left: 1rem;

  li {
    margin-bottom: .25rem;
  }

  ul,
  ol {
    margin-top: .25rem;
    margin-bottom: .5rem;
  }
}

ol {
  list-style: decimal;
	padding-left: 0;
	
  li {
    margin-bottom: .25rem;
  }

  ul,
  ol {
    margin-top: .25rem;
    margin-bottom: .5rem;
  }
}

p + h1,
p + h2,
p + h3,
ul + h1,
ul + h2,
ul + h3,
ol + h1,
ol + h2,
ol + h3 {
  margin-top: 1.5rem;
}

hr {
  border: 0;
  border-top: .5px solid #eee;
  border-bottom: .5px solid #3d3d3d;
  margin: 1rem auto;
}

strong {
  color: #333;
  font-weight: 600;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

blockquote {
  padding: 0 0 0 1rem;
  margin: 0 0 1rem 0;
  color: #3d3d3d;
  border-left: .3rem solid #3d3d3d;
  background: #e5e5e5;

  p:last-child {
    margin-bottom: 0;
  }
}

code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
	word-break: break-all;
  // word-wrap: break-word;
  background-color: #f9f9f9;
}

pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

rt,
rp {
  font-size: 15px;
}

.highlight {
  margin-bottom: 1rem;
}

.highlight pre {
  margin-bottom: 0;
}

.gist .gist-file {
  font-family: Menlo, Monaco, "Courier New", monospace !important;
}

.gist .markdown-body {
  padding: 15px;
}

.gist pre {
  padding: 0;
  background-color: transparent;
}

.gist .gist-file .gist-data {
  font-size: .8rem !important;
  line-height: 1.4;
}

.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #393939;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.lead {
  font-size: 1.25rem;
}

.container {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #ccc;
  z-index: 0;
  max-width: 42rem;
  padding: 4rem 1.3rem 2.5rem;
  margin-left:  auto;
  margin-right: auto;

  @media (min-width: 38rem){
    padding: 6rem 2rem 5rem;
  }
}

.list {
  &-post-title {
    margin-bottom: .25rem;

    a {
      color: #333;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
  &-item {
    margin-top: 15px;
    border-bottom: 1px dashed #ccc;
    margin-top: 15px;
  }
  &-post-date {
    color: #868e96;
    font-size: .8rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 15px;
  }
  &-pagination {
    padding-top: 1.5rem;
    font-size: 22px;
    font-weight: 600;
  }
  &-pagination-previous {
    float: left;
    a {
      color: #495057;
      &:hover,
      &:focus {
        color: #868e96;
        text-decoration: none;
      }
    }
  }
  &-pagination-next {
    float: right;
    a {
      color: #495057;
      &:hover,
      &:focus {
        color: #868e96;
        text-decoration: none;
      }
    }
  }
  &-pagination-pagenum {
    position: absolute;
    float: left;
    left: 50%;
  }
}

.masthead {
  &-title {
    font-weight: 300;

    a {
      color: #333;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    span {
      color: #404040;
    }
  }
  &-description {
    text-align: right;
    border-bottom: 1px solid #3d3d3d;
    margin: 1rem 0 2rem 0;
  }
}

.content {
  sup {
    padding: 0 2px 0 2px;

    a {
      border-bottom: none;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    &:hover,
    &:focus {
      background-color: #393939;
      a {
        color: #e5e9f0;
      }
    }
  }
}

.page {
  &-title {
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    border: 1px solid #3d3d3d;
  }

  a {
    font-weight: 600;
    text-decoration: none;
    border-bottom: 1px solid #999;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.1rem;
  }
}

.post {
  &-title {
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    margin-bottom: .2rem;
    border: 1px solid #3d3d3d;
  }
  &-date {
    width: 100%;
    margin-bottom: 1rem;
    font-size: .8rem;
    text-transform: uppercase;
    text-align: right;
    display: inline-grid;
    border-bottom: 1px solid #3d3d3d;
  }

  a {
    font-weight: 600;
    text-decoration: none;
    border-bottom: 1px solid #999;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.1rem;
  }
}

.footnotes {
  ol {
    list-style: decimal;

    li {
      p {
        margin: 0;
        font-size: 0.9rem;
      }
    }
  }
}

.projects-list {
  a {
    color: #333;
  }
}

.to-top {
  position: fixed;
  background-image: url(https://cdn.jsdelivr.net/gh/Melody-of-Oblivion/MoOpics@main/images/other/toTop.png);
  background-position: 5px;
  width: 50px;
  height: 50px;
  border: 1px solid #e5e9f0;
  background-color: #3d3d3d;
  border-radius: 4px;
  right: 20px;
  bottom: 50px;
  transition: background-color .2s,border .2s,opacity .2s,transform .2s;
  opacity: 0;
  transform: translateY(25px);
}

.to-top.on {
  cursor: pointer;
  opacity: 0.5;
  transform: translateY(0);
}

div {
  display: block;
  margin: 0;
  padding: 0;
}

.footer {
  border-top: 2rem;
  text-align: center;
  font-size: .95rem;

  &-links {
    a {
      display: inline-block;
    }

    img {
      margin: 0 .2rem;
      width: 20px;
      height: 20px;
    }
  }

  hr {
    margin: 1rem auto;
    max-width: 42rem;
  }
}

.fa-size {
  width: 20px;
  margin: 0 .2rem;
  vertical-align: 2px;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.toptable {
  z-index: 1;
  width: 100%;
  background-color: #fff;
  position: fixed;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  a {
      color: #393939;
      &:hover,
      &:focus {
      text-decoration: none;
      }
  }
  &-contain {
      max-width: 42rem;
      margin: 0 auto;
  }
  &-contain:before {
      display: table;
      content: "";
  }
  &-contain:after {
      display: table;
      clear: both;
      content: "";
  }
  &-nav {
      float: left;
      height: 46px;

      @media (min-width: 38rem){
        height: 49px;
      }
  }
  &-nav-item {
      display: inline-block;
      font-weight: bold;
      padding: 9px 6px;
      text-align: center;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      overflow: hidden;
      transition: all .35s;
      position: relative;

      @media (min-width: 38rem){
        margin-right: 1.25rem;
      }

      &:hover {
          color: #fff;
          background: none;
      }
      &:before {
          visibility: hidden;
          content: "";
          position: absolute;
          left: 50%;
          top: 0;
          width: 0;
          height: 100%;
          background: #2a2b2c;
          z-index: -1;
          transform: skew(45deg,0);
          transition: all .35s;
      }
      &:hover:before {
          visibility: visible;
          width: 250%;
          left: -40%;
      }
  }
}
